body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
h1 {
font-family: 'Londrina Shadow', cursive;
font-size: 75px;
background-color: rgba(0, 128, 128,1.0);
text-align: center;
}
.cfg {
display: block;
 margin-left: auto;
 margin-right: auto;
}
