#navcolorbhub {
  background-color: #F9C6D6;
}
body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 10px 30px 10px 30px;
}
h1 {
font-family: 'Londrina Shadow', cursive;
font-size: 75px;
background-color: rgba(0, 128, 128,1.0);
text-align: center;
}
.cfg {
display: block;
align: left;
border-radius: 10px;
margin: 20px 0 20px 0px;
}
.economist {
  display: block;
  align: left;
  border-radius: 10px;
  margin-top: 20px;
}
.footer {
  padding-top: 100px;
  padding-left: 500px;
  padding-right: 500px;
  align-items: center;
  margin-left: auto;
	margin-right: auto;
	display: block;
}
h2 {
font-family: Helvetica, Arial, sans-serif;
text-align: left;
color: black;
margin: 30px 0px 0px 0px;
}
